.App {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  /* border: 2px solid black; */
  margin-top: 4rem;
  padding: 20px 20px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

input{
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 40rem;
  border: 1px solid black;
  text-align: start;
  padding-top: 10px; 
  padding-bottom: 10px;
}

p{
  text-align: start;
  color: #EB455F;
  font-size: 10px;
} 

.buttons{
display: flex;
justify-content: space-between;
/* padding-right: 20px; */
text-align: center;
align-items: center;
}

button{
  justify-content: center;
  align-items: center;
  width: 47%;
  height: 38px;
  cursor: pointer;
  letter-spacing: 3px;
  background-color: #EB455F;
  border: #EB455F;
  color: white;
  border-radius: 3px;
  
}
::placeholder{
  text-align: start;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form-container{
 
}