.App {
  text-align: center;
}

.add-list {
  /* width: 100%; */
  /* padding: 50px 50px; */
  margin: 5rem 20rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.add-list h1{
  text-align: left;
  padding-left: 3rem;
}

.add-list input{
  padding-left: 5px;
}

.in-bt{
  padding-right: 17.5rem; 
}

input{
  margin-right: 10px;
  padding-right: 250px;
  /* width: 60%; */
}

li{
  list-style: none;
  font-family: monospace;
  font-size: 23px;
}

.task-btn{
  background-color: chartreuse;
  color: black;
  border: 1px solid black;
}