  * {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    list-style: none;
  }

  .App {
    margin: auto;
    width: 100vw;
    height: 100vh;
    background: #d5f1d2;
  }

  h1 {
    margin: auto;
    color: #1D2E36;
    margin-bottom: 10px;
    padding-top: 25px;
    padding-left: 40px;
  }

.Sidebar {
    height: 100%;
    width: 250px;
    background: #fff;
}

.sidebar{
  height: 100%;
  display: flex;
}

.SidebarList {
    color: #333;
    text-decoration: none;
    padding: 0;
    height: auto;
}

.Sidebar .SidebarList {
    padding: 30px 16px;
}

.SidebarList .icon-title {
    display: flex;
    flex-direction: row;
    border-radius: 9px;
    width: 100%;
    height: 60px;
    margin: 0%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #1D2E36;
}

.icon-title #icon {
    flex: 35%;
    display: grid;
    place-items: center;
}

.icon-title #title {
    flex: 70%;
}
.icon-title{
  display: flex;
  align-items: center;
  place-items: center;
}
.SidebarList .icon-title:hover {
    cursor: pointer;
    background-color: #ABFF02;
    color: #1D2E36;
}

.SidebarList #active {
    background-color: #ABFF02;
    color: #333;
    font-weight: bolder;
    border-radius: 9px;
}

.AllContent {
    background-color: #d5f1d2;
}